@import "_nullstyle";
// Обнуляющий стиль
@font-face{font-family:"Vollkorn";font-style:normal;font-weight:400;src:local("Vollkorn Regular"),local("Vollkorn-Regular"),url(/fonts/vollkorn-v13-latin_cyrillic-regular-9a6d28c09b848eb04fca8230fc58b2604f6f649405db7a1e9aa8d2fc8e010db2.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:italic;font-weight:400;src:local("Vollkorn Italic"),local("Vollkorn-Italic"),url(/assets/vollkorn-v13-latin_cyrillic-italic-b998b78c3d0af1339a0eb0725bfe54bf51aeae65f3b9b5ea79c87f6f897c668e.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:normal;font-weight:700;src:local("Vollkorn Bold"),local("Vollkorn-Bold"),url(/assets/vollkorn-v13-latin_cyrillic-700-83aaa6744964e08bd4833986f049349e5a71d5758a950320aec43dc47f5dfe19.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:italic;font-weight:700;src:local("Vollkorn Bold Italic"),local("Vollkorn-BoldItalic"),url(/assets/vollkorn-v13-latin_cyrillic-700italic-0585d602bd1364140875c4b753b092aadcc0b00383094e937d16f50186c11c4d.woff2) format("woff2")}
@font-face{font-family:"Forum";font-style:normal;font-weight:400;src:local("Forum"),url(/fonts/forum-v11-latin_cyrillic-regular-d17c27c8f6ccb46e70a697b4eb30b3e20a029eee62e1e10c6d67c20542053f7b.woff2) format("woff2")}
@font-face{font-family: "Xack",url(/fonts/xack.woff2)}
body {
   background-color: #000000;
   font-family: Vollkorn;
   font-weight: 400;
}
body._lock {
   overflow: hidden;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   height: 53px;
}
.header.scrolled {
   border-bottom: 1px solid rgba(33,33,33,0.8);
   background-color: #000;
}
.header__menu-navigation {
   display: flex;
   justify-content: flex-start;

}
.menu-navigation__container {
   width: 94%;
   margin: 0 auto;
}
.header__socialmedias {
   display: flex;
   flex-direction: row;
   margin: 10px 21% 0 0;
}
.socialmedia__vk {
   width: 25px;
   height: 25px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
   
}
.vk__logo {
   width: 25px;
   height: 25px;
   position: relative;
   background-color: white;
   border-radius: 50%;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
.socialmedia__tg {
   width: 25px;
   height: 25px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
}
.tg__logo {
   width: 25px;
   height: 25px;
   position: relative;
   background-color: white;
   border-radius: 50%;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
.socialmedia__inst {
   width: 25px;
   height: 25px;
   margin: 0 15px 0 15px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
}
.inst__logo {
   width: 25px;
   height: 25px;
   position: relative;
   background-color: white;
   border-radius: 50%;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
// Меню бургер
.menu__icon {
   display: none;
}
.header__menu {
}
.header__menu-list {
   display: flex;
   flex-wrap: wrap;
}
.header__menu-links {
   margin: 14px 0 0 0;
}
.menu__link {
   padding: 5px 0 5px 0;
   color: white;
   margin: 0px 25px 0 0;
   font-size: 1rem;
   letter-spacing: 2px;
   font-weight: 400;
   font-family: Vollkorn;
   text-transform: uppercase;
   border-bottom: 1px solid transparent;
   transition-duration: 0.5s;
   &:hover {
      color: #c4c4c4;
      padding: 15px 0 0 0;
      border-color: #c4c4c4;
   }
}
.main {
   flex: 1 0 auto;
}

.lowerheader {
   width: 100%;
}
.lowerheader__container {
   background: url("/img/aboutmebg1.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100vh;
}
.lowerheader__logo {
   text-align: center;
   padding: 100px 0 0 0;
   a {
      font-size: 3rem;
      color: #77644a;
      letter-spacing: 5px;
      font-family: Xack;
   }
}
.aboutme {

}
.aboutme__container {
   padding: 80px 0 0 0;
   display: flex;
   width: 94%;
   margin: 0 auto;
}
.aboutme__text {
   width: 50%;
   color: white;
   h3 {
      font-size: 2.5rem;
      font-family: Forum;
      letter-spacing: 0.7px;
      font-weight: 700;

   }
   p {
      margin: 20px 0 0 0;
      font-size: 1rem;
      color: #c3c3c3;
      letter-spacing: 0.7px;
      line-height: 1.5;
   }
}
.aboutme__list {
   margin: 10px 0 0 0;
   li{
      color: #c3c3c3;
      line-height: 1.3;
      padding: 0 0 0 10px;
      list-style: inside;
   }
}
.aboutme__image {
   width: 50%;
}
.aboutme__image-item {
   display: flex;
   justify-content: center;
}
.image-item {
   width: 80%;
   height: 80%;
   border-radius: 50%;
   position: relative;
   img {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.upperfooter__picture {
}



.footer {
   flex: 0 0 auto;
   padding: 90px 0 20px 0;
}
.footer__container {
   margin: 0 auto;
   width: 80%;
}
.footer__quote {
   color: #c3c3c3;
   text-align: center;
   font-size: 0.9rem;

}
.footer__site-developer {
   margin: 20px 0 0 0;
   text-align: center;
   color: #c3c3c3;
   font-size: 0.9rem;
   a {
      text-decoration: underline;
      color: #c3c3c3;
      &:hover {
         text-decoration: none;
      }
   }
}
@media (max-width: 767px) {
   .header__menu-navigation {
      justify-content: space-between;
   }
   .menu__icon {
      top: 12px;
      padding: 10px;
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: white;
   }
   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }
   .menu__icon::before {
      top: 0;
   }
   .menu__icon::after {
      bottom: 0;
   }
   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);
   }
   .menu__icon._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .header__menu-links {
      margin: 0 0 10px 0;
      font-size: 2rem;
   }
   .header__menu-list {
      text-align: center;
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
      padding: 100px 30px 30px 30px;
      transition: all 0.3s ease 0s;
      overflow: auto;
   }
   .header__menu-list._active {
      left: 0;
   }
   .aboutme__container {
      width: 96%;
      flex-wrap:wrap;
   }
   .aboutme__text {
      width: 100%;
      h3 {
         font-size: 1.2rem;
      }
      p {
         margin: 10px 0 0 0;
         font-size: 0.8rem;
      }
   }
   .aboutme__image {
      width: 100%;
      margin: 15px 0 0 0;
   }
   .aboutme__list {
      li {
         font-size: 0.7rem;
      }
   }
   .image-item {
      padding: 0 0 0 15px;
      width: 100%;
      height: 100%;
   }
   
   .footer__quote {
      color: #c3c3c3;
      text-align: center;
      font-size: 0.7rem;
   
   }
   .footer__site-developer {
      margin: 20px 0 0 0;
      text-align: center;
      color: #c3c3c3;
      font-size: 0.7rem;
      a {
         text-decoration: underline;
         color: #c3c3c3;
         &:hover {
            text-decoration: none;
         }
      }
   }
}
@media (max-width: 992px) {
   .menu__link {
      margin: 0 15px 0 0;
   }
   .header__socialmedias {
      margin: 10px 15% 0 0;
   }
}