@import "_nullstyle";
// Обнуляющий стиль
@font-face{font-family:"Vollkorn";font-style:normal;font-weight:400;src:local("Vollkorn Regular"),local("Vollkorn-Regular"),url(/fonts/vollkorn-v13-latin_cyrillic-regular-9a6d28c09b848eb04fca8230fc58b2604f6f649405db7a1e9aa8d2fc8e010db2.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:italic;font-weight:400;src:local("Vollkorn Italic"),local("Vollkorn-Italic"),url(/assets/vollkorn-v13-latin_cyrillic-italic-b998b78c3d0af1339a0eb0725bfe54bf51aeae65f3b9b5ea79c87f6f897c668e.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:normal;font-weight:700;src:local("Vollkorn Bold"),local("Vollkorn-Bold"),url(/assets/vollkorn-v13-latin_cyrillic-700-83aaa6744964e08bd4833986f049349e5a71d5758a950320aec43dc47f5dfe19.woff2) format("woff2")}@font-face{font-family:"Vollkorn";font-style:italic;font-weight:700;src:local("Vollkorn Bold Italic"),local("Vollkorn-BoldItalic"),url(/assets/vollkorn-v13-latin_cyrillic-700italic-0585d602bd1364140875c4b753b092aadcc0b00383094e937d16f50186c11c4d.woff2) format("woff2")}
@font-face{font-family:"Forum";font-style:normal;font-weight:400;src:local("Forum"),url(/fonts/forum-v11-latin_cyrillic-regular-d17c27c8f6ccb46e70a697b4eb30b3e20a029eee62e1e10c6d67c20542053f7b.woff2) format("woff2")}
@font-face{font-family: "Xack",url(/fonts/xack.woff2)}
body {
   background-color: #000000;
   font-family: Vollkorn;
   font-weight: 400;
}

.wrapper {
   display: flex;
   flex-direction: column;
}
.header {
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   border-bottom: 1px solid rgba(33,33,33,0.8);
   height: 53px;
   background-color: #000;
}
.header__menu-navigation {
   display: flex;
   justify-content: flex-start;

}
.menu-navigation__container {
   width: 94%;
   margin: 0 auto;
}
.header__socialmedias {
   display: flex;
   flex-direction: row;
   margin: 10px 21% 0 0;
}
.socialmedia__vk {
   width: 25px;
   height: 25px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
   
}
.vk__logo {
   width: 25px;
   height: 25px;
   position: relative;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
.socialmedia__tg {
   width: 25px;
   height: 25px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
}
.tg__logo {
   width: 25px;
   height: 25px;
   position: relative;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
.socialmedia__inst {
   width: 25px;
   height: 25px;
   margin: 0 15px 0 15px;
   transition: 0.35s;
   &:hover {
      filter: brightness(50%);
   }
}
.inst__logo {
   width: 25px;
   height: 25px;
   position: relative;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
   }
}
// Меню бургер
.menu__icon {
   display: none;
}
.header__menu {
}
.header__menu-list {
   display: flex;
   flex-wrap: wrap;
}
.header__menu-links {
   margin: 14px 0 0 0;
}
.menu__link {
   padding: 5px 0 5px 0;
   color: white;
   margin: 0px 25px 0 0;
   font-size: 1rem;
   letter-spacing: 2px;
   font-weight: 400;
   font-family: Vollkorn;
   text-transform: uppercase;
   border-bottom: 1px solid transparent;
   transition-duration: 0.5s;
   &:hover {
      color: #c4c4c4;
      padding: 15px 0 0 0;
      border-color: #c4c4c4;
   }
}

.main {
   flex: 1 1 auto;
   margin: 60px 0 0 0;
}
.slider {
   margin: 40px 0 0 0;
}
.slider__container {
}
.slider__logo {
   text-align: center;
   margin: 0 0 40px 0;
   a {
      font-size: 3rem;
      color: #77644a;
      letter-spacing: 5px;
      font-family: Xack;
   }
}
/* - - - ------ - - */
.slider__wrapper {
   overflow: hidden;
   padding-bottom: 30px;
   flex:1 1 auto;
   min-width: 0;
}
.image-slider__image {
	text-align: center;
	img {
		max-width: 100%;
	}
}

// Стрелки
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #fff;
	font-size: 80px;
}
.image-slider {
	padding: 30px 0 70px 0;
	// width: 500px; // для куба
	// для vertical прокрута
	// padding:  0 0 0 0;
	// height: 700px;
	// Пагинация
	& .swiper-pagination {
		bottom: 0;
	}
	// Буллеты
	& .swiper-pagination-bullet {
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		background-color: yellow;
	}
	// Фракция
	& .swiper-pagination-fraction {
		font-size: 20px;
		color: #000;
		margin-bottom: 10px;
	}
	// Прогрессбар
	& .swiper-pagination-progressbar {
		& .swiper-pagination-progressbar-fill {
			background-color: #58e20d;
		}
	}

	// Скрол
	& .swiper-scrollbar-drag {
		cursor: pointer;
		background-color: #7a956b;
	}
	// Автоширина не работает...
	// & .swiper-slide {
	// 	width: auto;
	// }
}

// Миниатюры (превью)
.image-mini-slider__slide {
	opacity: 0.2;
	transition: opacity 0.3s ease 0s;
}
.image-mini-slider__slide.swiper-slide-thumb-active {
	opacity: 1;
}
.image-mini-slider__image {
	position: relative;
	padding: 0px 0px 80% 0px;
	cursor: pointer;
}
.image-mini-slider__image {
	img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

// Text Slider
.text {
	font-size: 25px;
	line-height: 150%;
	color: #fff;
	margin: 50px 0;
	background-color: #77608d;
	padding: 10px;
}

.text-slider__slide {
	font-size: 25px;
	line-height: 150%;
	color: #fff;
	h2 {
		font-size: 40px;
		font-weight: 700;
		margin: 0px 0px 15px 0px;
	}
}

// Фракция
// .image-slider__fraction {
// 	padding: 10px 0px 0px 0px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-size: 25px;
// 	color: #fff;
// }
// .image-slider__sepparator {
// 	margin: 0px 15px;
// }

//! Если проблемы отображения слайдера с FLEX
// .block{
// 	display: flex;
// }
// // Любой блок с инфой
// .block__side{
// 	flex:0 0 300px;
// 	background-color: #77608d;
// }
// // блок в котором находится слайдер
// .block__body{
// 	padding-bottom: 30px;
// 	flex:1 1 auto;
// 	min-width: 0; //! Исправляет проблему отображения
// }

/* - - - ------ - - */
.slider__contact-button {
   margin: 0 auto;
}
.contact-button {
   padding: 23px 0 0 0;
   text-align: center;
   color: white;
   width: 220px;
   height: 56px;
   background-color: #928765;
   border-radius: 25px;
   text-transform: uppercase;
   letter-spacing: 2.4px;
   font-size: 0.9rem;
   transition: 0.3s;
   &:hover {
      background-color: #57513c;
   }
}
.contact-button__link {
}
.work-examples {
}
.work-examples__container {
   width: 80%;
   margin: 0 auto;
}
.more__items {
   margin: 40px 0 0 0;
   display:flex;
   justify-content: center;
   color: white;
}
.myworks {
   text-align: center;
   display: flex;
   flex-direction: column;
   h4 {
      font-size: 1rem;
      color: #c3c3c3;
      margin: 0 0 15px 0;
   }
   h2 {
      font-size: 2rem;
      margin: 0 0 20px 0;
   }
   a {
      color: #77644a;
      &:hover {
         text-decoration: underline;
      }
   }

}
.price {
   text-align: center;
   display: flex;
   flex-direction: column;
   margin: 0 15% 0 15%;
   h4 {
      font-size: 1rem;
      color: #c3c3c3;
      margin: 0 0 15px 0;
   }
   h2 {
      font-size: 2rem;
      margin: 0 0 20px 0;
   }
   a {
      color: #77644a;
      &:hover {
         text-decoration: underline;
      }
   }
}
.aboutme {
   text-align: center;
   display: flex;
   flex-direction: column;
   h4 {
      font-size: 1rem;
      color: #c3c3c3;
      margin: 0 0 15px 0;
   }
   h2 {
      font-size: 2rem;
      margin: 0 0 20px 0;
   }
   a {
      color: #77644a;
      &:hover {
         text-decoration: underline;
      }
   }
}
.work-examples__images {
   display: flex;
   margin: 60px 0 0 0;
   flex-wrap: wrap;
   justify-content: center;
}
.work-examples__block {
   flex: 0 1 33.333%;
}
.work-examples__image-item {
   position: relative;
   width: 100%;
   padding: 6% 3% 0 3%;
   img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}
.work-examples__image-1 {

}
.work-examples__image-2 {

}
.work-examples__image-3 {
}
.work-examples__image-4 {
}
.work-examples__image-5 {
}
.work-examples__image-6 {

}
.work-examples__image-7 {
}
.work-examples__image-8 {
}
.work-examples__image-9 {
}
.work-examples__image-10 {
}
.work-examples__image-11 {
}
.work-examples__image-12 {
}
.upperfooter__contact__container {
   margin: 0 auto;
   width: 80%;
}
.upperfooter__contact {
   text-align: center;
   margin: 60px 0 0 0;
   h2 {
      text-transform: uppercase;
      font-size: 1rem;
      color: #c3c3c3;
   }
   p {
      font-family: Forum;
      margin: 20px 0 0 0;
      font-size: 1.5rem;
      color: white;
      line-height: 1.6;
      letter-spacing: 0.5px;
   }
}
.upperfooter__contact-button__background {
   margin: 20px 0 0 0;
   padding: 42px 0 0 0;
   background-color: #32322f;
   height: 142px;
}
.upperfooter__contact-button {
   margin: 0 auto;
}
.footer {
   padding: 90px 0 20px 0;
}
.footer__container {
   margin: 0 auto;
   width: 80%;
}
.footer__quote {
   color: #c3c3c3;
   text-align: center;
   font-size: 0.9rem;

}
.footer__site-developer {
   margin: 20px 0 0 0;
   text-align: center;
   color: #c3c3c3;
   font-size: 0.9rem;
   a {
      text-decoration: underline;
      color: #c3c3c3;
      &:hover {
         text-decoration: none;
      }
   }
}
@media (max-width: 767px) {

}
@media (max-width: 992px) {
   .menu__link {
      margin: 0 15px 0 0;
   }
   .header__socialmedias {
      margin: 10px 15% 0 0;
   }
}